* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('https://img.huffingtonpost.com/asset/58d500ef1400008806071506.jpeg?ops=2000_1000');
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top-corner;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}
.app-main {
    text-align: center;
    width: 50vh;
    margin: 100px auto;
    background-color: rgba(240, 248, 255, 0.6);
    padding: 20px;
    
}
.app-main > * {
    margin-bottom: 20px;
}

.input-box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    outline: none;
    color: #582833;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    text-align: center;
}

.input-box:focus {
    background-color: rgba(255, 255, 255);
}

.weather-body {
    color: #582833;
    padding: 20px;
    line-height: 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    height: 50vh;
}

.location-details {
    font-weight: bold;
}
.weather-status {
    padding: 20px;
}
.temp {
    font-size: 50pt;
    font-weight: 700;
    margin: 20px 0;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.3);
}

.min-max,.weather {
    font-size: 12pt;
    font-weight: 600;
}
.heading {
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
}